.coverage*
.ipynb_checkpoints/
.pytest_cache/
.tox/
/GNUmakefile
/docs/build/
/docs/source/_autosummary/
/docs/source/notebooks/debugging_example.ipynb
/docs/source/notebooks/executor_ctx_vs_classes.ipynb
/docs/source/notebooks/get_executor.ipynb
/docs/source/notebooks/on_error.ipynb
/htmlcov/
/jupyter.log
/pyrseus.code-workspace
__pycache__/
act.log
dist/
