# Note: although readthedocs.io auto-installs the modules listed in this file,
# unfortunately sphinx-build doesn't do so with local clones. To run
# "make docs", be sure to first run:
#
#    python -m pip install -r docs/requirements.txt
#
# See contributing.rst for details.
cloudpickle>=1.6.0
furo
jupytext
loky
myst_nb
sphinx-design
sphinx-inline-tabs
sphinx-rtd-dark-mode
sphinx-rtd-theme>=2.0.0
sphinx>=7.2.6
